<div [class]="containerStyle">
    <div class="selection"
        (click)="toggleOpenAndClose()">
        <div [class]="selectionStyle" role="combobox">
            <span *ngIf="!multiple" class="select2-selection__rendered" [title]="option ? option.label : ''">
                <ng-container *ngIf="option">{{option.label}}</ng-container>
                <span *ngIf="!option" class="select2-selection__placeholder">{{placeholder}}</span>
            </span>
            <span *ngIf="!multiple" class="select2-selection__arrow" role="presentation">
                <b role="presentation"></b>
            </span>
            <ul *ngIf="multiple" class="select2-selection__rendered">
                <li *ngFor="let op of option" class="select2-selection__choice" [title]="op.label">
                    <span (click)="removeSelection($event, op)" class="select2-selection__choice__remove" role="presentation">×</span>
                    {{op.label}}
                </li>
            </ul>
        </div>
    </div>
    <div [class]="dropdownStyle">
        <div class="select2-dropdown select2-dropdown--below">
            <div [class]="searchStyle">
                <input #searchInput
                    [(ngModel)]="searchText"
                    (keydown)="keyDown($event)"
                    (focusout)="focusout()"
                    class="select2-search__field"
                    type="search"
                    role="textbox"
                    autocomplete="off"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false">
            </div>
            <div class="select2-results">
                <ul #results class="select2-results__options"
                    role="tree"
                    tabindex="-1"
                    (keydown)="keyDown($event)"
                    (focusout)="focusout()">
                    <ng-container *ngFor="let groupOrOption of filteredData">
                        <li *ngIf="groupOrOption.options"
                            class="select2-results__option"
                            role="group">
                            <strong class="select2-results__group">{{groupOrOption.label}}</strong>
                            <ul class="select2-results__options select2-results__options--nested">
                                <li *ngFor="let option of groupOrOption.options"
                                    [class]="getOptionStyle(option.value)"
                                    role="treeitem"
                                    [attr.aria-selected]="isSelected(option)"
                                    [attr.aria-disabled]="isDisabled(option)"
                                    (mouseenter)="mouseenter(option)"
                                    (click)="click(option)">
                                    {{option.label}}
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="!groupOrOption.options"
                            [class]="getOptionStyle(groupOrOption.value)"
                            role="treeitem"
                            [attr.aria-selected]="isSelected(groupOrOption)"
                            [attr.aria-disabled]="isDisabled(groupOrOption)"
                            (mouseenter)="mouseenter(groupOrOption)"
                            (click)="click(groupOrOption)">
                            {{groupOrOption.label}}
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>