<p>
    <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus"
        style="width: 100%;">
        <span class="selection" @click="toggleOpenAndClose()">
            <span class="select2-selection select2-selection--single" role="combobox">
                <span class="select2-selection__rendered" :title="optionLabel">{{optionLabel}}</span>
                <span class="select2-selection__arrow" role="presentation">
                    <b role="presentation"></b>
                </span>
            </span>
        </span>
        <span class="dropdown-wrapper" aria-hidden="true"></span>
        <span :class="dropdownStyle"
            style="position: absolute;">
            <span class="select2-dropdown select2-dropdown--below" style="width: 816px;">
                <span class="select2-search select2-search--dropdown">
                    <input class="select2-search__field" type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox">
                </span>
                <span class="select2-results">
                    <ul class="select2-results__options" role="tree" aria-expanded="true" aria-hidden="false">
                        <li v-for="group in data" class="select2-results__option" role="group" aria-label="Alaskan/Hawaiian Time Zone">
                            <strong class="select2-results__group">{{group.groupLabel}}</strong>
                            <ul class="select2-results__options select2-results__options--nested">
                                <li v-for="option in group.options"
                                    :class="getOptionStyle(option.value)"
                                    role="treeitem"
                                    :aria-selected="option.value === value ? 'true' : 'false'"
                                    @mouseenter="mouseenter(option.value)"
                                    @mouseleave="mouseleave()"
                                    @click="click(option)">
                                    {{option.label}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </span>
            </span>
        </span>
    </span>
</p>