<div :class="containerStyle">
    <div class="selection"
        @click="toggleOpenAndClose()">
        <div class="select2-selection select2-selection--single" role="combobox">
            <span class="select2-selection__rendered" :title="optionLabel">
                <template v-if="optionLabel">{{optionLabel}}</template>
                <span v-else class="select2-selection__placeholder">{{placeholder}}</span>
            </span>
            <span class="select2-selection__arrow" role="presentation">
                <b role="presentation"></b>
            </span>
        </div>
    </div>
    <div :class="dropdownStyle">
        <div class="select2-dropdown select2-dropdown--below">
            <div :class="searchStyle">
                <input ref="searchInput"
                    v-model="searchText"
                    @keydown="keyDown($event)"
                    @focusout="focusout()"
                    class="select2-search__field"
                    type="search"
                    role="textbox"
                    autocomplete="off"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false">
            </div>
            <div class="select2-results">
                <ul ref="results"
                    class="select2-results__options"
                    role="tree"
                    tabindex="-1"
                    @keydown="keyDown($event)"
                    @focusout="focusout()">
                    <template v-for="groupOrOption in filteredData">
                        <li v-if="groupOrOption.options"
                            class="select2-results__option"
                            role="group">
                            <strong class="select2-results__group">{{groupOrOption.label}}</strong>
                            <ul class="select2-results__options select2-results__options--nested">
                                <li v-for="option in groupOrOption.options"
                                    :class="getOptionStyle(option.value)"
                                    role="treeitem"
                                    :aria-selected="option.value === innerValue ? 'true' : 'false'"
                                    :aria-disabled="option.disabled ? 'true' : 'false'"
                                    @mouseenter="mouseenter(option)"
                                    @click="click(option)">
                                    {{option.label}}
                                </li>
                            </ul>
                        </li>
                        <li v-else
                            :class="getOptionStyle(groupOrOption.value)"
                            role="treeitem"
                            :aria-selected="groupOrOption.value === innerValue ? 'true' : 'false'"
                            :aria-disabled="groupOrOption.disabled ? 'true' : 'false'"
                            @mouseenter="mouseenter(groupOrOption)"
                            @click="click(groupOrOption)">
                            {{groupOrOption.label}}
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
</div>